<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>カフェ向け無料ホームページテンプレート tp_cafe13</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ここにサイト説明を入れます">
    <meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <script type="text/javascript" src="js/openclose.js"></script>
</head>

<body>
	<footer class="ly_footer" th:fragment="footer">
    <div class="ly_footer_back">
      <div class="ly_footer_inner">
        <nav>
          <ul class="bl_footerNav">
            <li class="bl_footerNav_item">
              <a class="bl_footerNav_link" th:href="@{/home}">HOME</a>
            </li>
            <li class="bl_footerNav_item">
              <a class="bl_footerNav_link" th:href="@{/menu}">MENU</a>
            </li>
            <li class="bl_footerNav_item">
              <a class="bl_footerNav_link" th:href="@{/access}">ACCESS</a>
            </li>
            <li class="bl_footerNav_item">
              <a class="bl_footerNav_link" th:href="@{/recruit}">RECRUIT</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- /.ly_footer_inner -->
    </div>
    <!-- /.ly_footer -->
    <div class="ly_footer_back hp_btGray">
      <div class="ly_footer_inner">
        <small class="el_footerCopyright">© 2021 Sample Inc</small>
      </div>
      <!-- /.ly_footer_inner -->
    </div>
    <!-- /.ly_footer hp_btGray -->
  </footer>
</body>

</html>