<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ここにサイト説明を入れます">
    <meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
    <link rel="stylesheet" th:href="@{/css/media.css}">
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
    <script type="text/javascript" src="js/openclose.js"></script>
</head>

<body>
    <header th:replace="login_header :: header">
	</header>
	<main class="ly_main">
		<section class="ly_cont">
            <h1 class="el_lv1Heading">
                <span>MENU</span>
            </h1>

            <div class="bl_cardUnit bl_cardUnit__col4">
                <!-- /.bl_card -->
                <div class="bl_card">
                    <figure class="bl_card_imgWrapper">
                        <img alt="写真：SNSアイコンが写っている画面" th:src="@{/image/sample1.jpg}">
                    </figure>
                    <div class="bl_card_body">
                        <h3 class="bl_card_ttl">
                            サラダランチ 1,000円
                        </h3>
                        <p class="bl_card_txt">
                            今週の日替わりランチです。
                        </p>
                    </div>
                    <!-- /.bl_card_body -->
                </div>
                <!-- /.bl_card -->
                <div class="bl_card">
                    <figure class="bl_card_imgWrapper">
                        <img alt="写真：SNSアイコンが写っている画面" th:src="@{/image/sample1.jpg}">
                    </figure>
                    <div class="bl_card_body">
                        <h3 class="bl_card_ttl">
                            サラダランチ 1,000円
                        </h3>
                        <p class="bl_card_txt">
                            今週の日替わりランチです。
                        </p>
                    </div>
                    <!-- /.bl_card_body -->
                </div>
                <!-- /.bl_card -->
                <div class="bl_card">
                    <figure class="bl_card_imgWrapper">
                        <img alt="写真：SNSアイコンが写っている画面" th:src="@{/image/sample1.jpg}">
                    </figure>
                    <div class="bl_card_body">
                        <h3 class="bl_card_ttl">
                            サラダランチ 1,000円
                        </h3>
                        <p class="bl_card_txt">
                            今週の日替わりランチです。
                        </p>
                    </div>
                </div>
                <div class="bl_card">
                    <figure class="bl_card_imgWrapper">
                        <img alt="写真：SNSアイコンが写っている画面" th:src="@{/image/sample1.jpg}">
                    </figure>
                    <div class="bl_card_body">
                        <h3 class="bl_card_ttl">
                            サラダランチ 1,000円
                        </h3>
                        <p class="bl_card_txt">
                            今週の日替わりランチです。
                        </p>
                    </div>
                    <!-- /.bl_card_body -->
                </div>
                <!-- /.bl_card -->
                <div class="bl_card">
                    <figure class="bl_card_imgWrapper">
                        <img alt="写真：SNSアイコンが写っている画面" th:src="@{/image/sample1.jpg}">
                    </figure>
                    <div class="bl_card_body">
                        <h3 class="bl_card_ttl">
                            サラダランチ 1,000円
                        </h3>
                        <p class="bl_card_txt">
                            今週の日替わりランチです。
                        </p>
                    </div>
                    <!-- /.bl_card_body -->
                </div>
                <!-- /.bl_card -->
                <div class="bl_card">
                    <figure class="bl_card_imgWrapper">
                        <img alt="写真：SNSアイコンが写っている画面" th:src="@{/image/sample1.jpg}">
                    </figure>
                    <div class="bl_card_body">
                        <h3 class="bl_card_ttl">
                            サラダランチ 1,000円
                        </h3>
                        <p class="bl_card_txt">
                            今週の日替わりランチです。
                        </p>
                    </div>
                    <!-- /.bl_card_body -->
                </div>
                <!-- /.bl_card -->
                <div class="bl_card">
                    <figure class="bl_card_imgWrapper">
                        <img alt="写真：SNSアイコンが写っている画面" th:src="@{/image/sample1.jpg}">
                    </figure>
                    <div class="bl_card_body">
                        <h3 class="bl_card_ttl">
                            サラダランチ 1,000円
                        </h3>
                        <p class="bl_card_txt">
                            今週の日替わりランチです。
                        </p>
                    </div>
                </div>
                <div class="bl_card">
                    <figure class="bl_card_imgWrapper">
                        <img alt="写真：SNSアイコンが写っている画面" th:src="@{/image/sample1.jpg}">
                    </figure>
                    <div class="bl_card_body">
                        <h3 class="bl_card_ttl">
                            サラダランチ 1,000円
                        </h3>
                        <p class="bl_card_txt">
                            今週の日替わりランチです。
                        </p>
                    </div>
                    <!-- /.bl_card_body -->
                </div>
            </div>
            <!-- /.bl_cardUnit bl_cardUnit__col4 -->
        </section>
    </main>
    <footer th:replace="footer :: footer">
	</footer>
</body>

</html>