<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>My page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="ここにサイト説明を入れます">
	<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
    <link rel="stylesheet" th:href="@{/css/media.css}">
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<script type="text/javascript" src="js/openclose.js"></script>
</head>

<body>
	<header th:replace="logout_header :: header">
	</header>
	<main class="ly_main">
		<section class="ly_cont">
			<h1 class="el_lv1Heading">
				<span>My Page</span>
			</h1>

			<h2 class="el_lv2Heading">
				Profile
			</h2>

			<div class="bl_horizTable">
				<table>
				  <tbody>
					<tr>
						<th>Name</th>
						<td></td>
					</tr>
					<tr>
					  <th>Gender</th>
					  <td></td>
					</tr>
					<tr>
					  <th>Age</th>
					  <td></td>
					</tr>
				  </tbody>
				</table>
			</div>
		</section>
	</main>
	<footer th:replace="footer :: footer">
	</footer>
</body>

</html>