<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
    
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/media.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/module.css">
    <title>サンプルのサイト</title>
</head>

<body>
    <main>
        <article>
            <section class="ly_cont"  layout:fragment="media">
                <h2 class="el_lv2Heading hp_smSpace">
                    マーケティング戦略策定
                </h2>
                <div class="bl_media">
                    <figure class="bl_media_imgWrapper">
                        <img alt="写真：手に持たれたスマホ" src="/image/persona.jpg">
                    </figure>
                    <div class="bl_media_body">
                        <h3 class="bl_media_ttl">
                            ユーザーを考えた設計で満足な体験を
                        </h3>
                        <p class="bl_media_txt">
                            提供するサービスやペルソナによって、webサイトの設計は異なります。サービスやペルソナに合わせた設計を行うことにより、訪問者にストレスのないよりよい体験を生み出し、満足を高めることとなります。<br>
                            わたしたちはお客さまのサイトに合ったユーザビリティを考えるため、分析やヒアリングをきめ細かく実施、満足を体験できるクリエイティブとテクノロジーを設計・構築し、今までにない期待を超えたユーザー体験を提供いたします。
                        </p>
                    </div>
                    <!-- /.bl_media_body -->
                </div>
                <!-- /.bl_media -->
            </section>
        </article>
    </main>
</body>

</html>