<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/module.css">
  <link rel="stylesheet" href="/css/footer.css">
  <title>サンプルのサイト</title>
</head>

<body>
  <header class="ly_header">
    <div class="ly_header_inner">
      <div class="bl_headerUtils">
        <a class="bl_headerUtils_logo" href="#"><img src="/image/logo.svg" alt=""></a>
        <a class="btn" href="#">お問い合わせ</a>
      </div>
      <!-- /.bl_headerUtils -->
      <nav>
        <ul class="bl_headerNav">
          <li class="bl_headerNav_item">
            <a class="bl_headerNav_link" href="#">私たちの特徴</a>
          </li>
          <li class="bl_headerNav_item">
            <a class="bl_headerNav_link" href="#">サービス</a>
          </li>
          <li class="bl_headerNav_item">
            <a class="bl_headerNav_link" href="#">制作実績</a>
          </li>
          <li class="bl_headerNav_item">
            <a class="bl_headerNav_link" href="#">会社情報</a>
          </li>
          <li class="bl_heaƒderNav_item">
            <a class="bl_headerNav_link" href="#">採用情報</a>
          </li>
          <li class="bl_headerNav_item">
            <a class="bl_headerNav_link" href="#">ブログ</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- /.ly_header_inner -->
  </header>
  <section layout:fragment="media">
  </section>
  <footer>
    <div class="ly_footer">
      <div class="ly_footer_inner">
        <nav>
          <ul class="bl_footerNav">
            <li class="bl_footerNav_item">
              <a class="bl_footerNav_link" href="#">私たちの特徴</a>
              <ul class="bl_footerChildNav">
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">私たちの強み</a>
                </li>
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">私たちのポリシー</a>
                </li>
              </ul>
            </li>
            <li class="bl_footerNav_item">
              <a class="bl_footerNav_link" href="#">サービス</a>
              <ul class="bl_footerChildNav">
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">webサイト構築</a>
                </li>
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">webサイト改善</a>
                </li>
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">解析・レポーティング</a>
                </li>
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">多言語webサイト構築</a>
                </li>
              </ul>
            </li>
            <li class="bl_footerNav_item">
              <a class="bl_footerNav_link" href="#">制作実績</a>
            </li>
            <li class="bl_footerNav_item">
              <a class="bl_footerNav_link" href="#">会社情報</a>
              <ul class="bl_footerChildNav">
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">メッセージ</a>
                </li>
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">会社概要</a>
                </li>
              </ul>
            </li>
            <li class="bl_footerNav_item">
              <a class="bl_footerNav_link" href="#">採用情報</a>
              <ul class="bl_footerChildNav">
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">新卒採用</a>
                </li>
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">中途採用</a>
                </li>
              </ul>
            </li>
            <li class="bl_footerNav_item">
              <a class="bl_footerNav_link" href="#">ブログ</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- /.ly_footer_inner -->
    </div>
    <!-- /.ly_footer -->
    <div class="ly_footer hp_btGray">
      <div class="ly_footer_inner">
        <small class="el_footerCopyright">© 2019 Triad Inc.</small>
      </div>
      <!-- /.ly_footer_inner -->
    </div>
    <!-- /.ly_footer hp_btGray -->
  </footer>
</body>

</html>